In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv(
    "bbc_news.csv",
    encoding="utf-8",
    sep=","
)

df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     25 non-null     object
 1   category  25 non-null     object
 2   date      25 non-null     object
 3   news_url  25 non-null     object
 4   summary   25 non-null     object
dtypes: object(5)
memory usage: 1.1+ KB

In [3]:
# convert date
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d', errors='coerce')

# add source (karena BBC satu sumber)
df['source_name'] = 'BBC News'
df['source_url'] = 'https://www.bbc.com'

# basic cleaning
df = df.dropna(subset=['title', 'category', 'date', 'news_url'])
df['summary'] = df['summary'].fillna('No summary')

In [4]:
dim_date = df[['date']].drop_duplicates().reset_index(drop=True)
dim_date['date_id'] = dim_date.index + 1
dim_date['year'] = dim_date['date'].dt.year
dim_date['month'] = dim_date['date'].dt.month
dim_date['day'] = dim_date['date'].dt.day

dim_date.rename(columns={'date': 'full_date'}, inplace=True)

In [5]:
dim_category = df[['category']].drop_duplicates().reset_index(drop=True)
dim_category['category_id'] = dim_category.index + 1
dim_category.rename(columns={'category': 'category_name'}, inplace=True)

In [6]:
dim_source = pd.DataFrame({
    'source_id': [1],
    'source_name': ['BBC News'],
    'source_url': ['https://www.bbc.com']
})

In [7]:
fact = df.merge(
    dim_category,
    left_on='category',
    right_on='category_name',
    how='left'
)

fact = fact.merge(
    dim_date,
    left_on='date',
    right_on='full_date',
    how='left'
)

fact['source_id'] = 1

In [8]:
fact_bbc_news = fact[
    [
        'title',
        'summary',
        'news_url',
        'category_id',
        'date_id',
        'source_id'
    ]
]

In [9]:
engine = create_engine(
    'postgresql://postgres:postgres@localhost:5432/data_warehouse'
)

In [10]:
dim_category_db = dim_category[['category_name']]

dim_category_db.to_sql(
    'dim_category',
    engine,
    if_exists='append',
    index=False
)

12

In [11]:
dim_date_db = dim_date[['full_date', 'year', 'month', 'day']]

dim_date_db.to_sql(
    'dim_date',
    engine,
    if_exists='append',
    index=False
)

6

In [12]:
dim_date.to_sql(
    'dim_date',
    engine,
    if_exists='append',
    index=False
)

ProgrammingError: (psycopg2.errors.UndefinedColumn) kolom  « date_id » dari relasi « dim_date » tidak ada
LINE 1: INSERT INTO dim_date (full_date, date_id, year, month, day) ...
                                         ^

[SQL: INSERT INTO dim_date (full_date, date_id, year, month, day) VALUES (%(full_date__0)s, %(date_id__0)s, %(year__0)s, %(month__0)s, %(day__0)s), (%(full_date__1)s, %(date_id__1)s, %(year__1)s, %(month__1)s, %(day__1)s), (%(full_date__2)s, %(date_id__2)s ... 165 characters truncated ... %(month__4)s, %(day__4)s), (%(full_date__5)s, %(date_id__5)s, %(year__5)s, %(month__5)s, %(day__5)s)]
[parameters: {'day__0': 30, 'date_id__0': 1, 'year__0': 2026, 'full_date__0': datetime.datetime(2026, 1, 30, 0, 0), 'month__0': 1, 'day__1': 29, 'date_id__1': 2, 'year__1': 2026, 'full_date__1': datetime.datetime(2026, 1, 29, 0, 0), 'month__1': 1, 'day__2': 28, 'date_id__2': 3, 'year__2': 2026, 'full_date__2': datetime.datetime(2026, 1, 28, 0, 0), 'month__2': 1, 'day__3': 27, 'date_id__3': 4, 'year__3': 2026, 'full_date__3': datetime.datetime(2026, 1, 27, 0, 0), 'month__3': 1, 'day__4': 26, 'date_id__4': 5, 'year__4': 2026, 'full_date__4': datetime.datetime(2026, 1, 26, 0, 0), 'month__4': 1, 'day__5': 25, 'date_id__5': 6, 'year__5': 2026, 'full_date__5': datetime.datetime(2026, 1, 25, 0, 0), 'month__5': 1}]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
dim_source_db = dim_source[['source_name', 'source_url']]

dim_source_db.to_sql(
    'dim_source',
    engine,
    if_exists='append',
    index=False
)

In [ ]:
dim_category_db = pd.read_sql("SELECT * FROM dim_category", engine)
dim_date_db = pd.read_sql("SELECT * FROM dim_date", engine)
dim_source_db = pd.read_sql("SELECT * FROM dim_source", engine)

In [ ]:
dim_category = (
    df[['category']]
    .drop_duplicates()
    .rename(columns={'category': 'category_name'})
)

dim_category.to_sql(
    'dim_category',
    engine,
    if_exists='append',
    index=False
)

In [ ]:
df['date'] = pd.to_datetime(df['date'])

dim_date = df[['date']].drop_duplicates().reset_index(drop=True)
dim_date.columns = ['full_date']

dim_date['year'] = dim_date['full_date'].dt.year
dim_date['month'] = dim_date['full_date'].dt.month
dim_date['day'] = dim_date['full_date'].dt.day

dim_date.to_sql(
    'dim_date',
    engine,
    if_exists='append',
    index=False
)

In [ ]:
dim_source = pd.DataFrame([{
    'source_name': 'BBC',
    'source_url': 'https://www.bbc.com'
}])

dim_source.to_sql(
    'dim_source',
    engine,
    if_exists='append',
    index=False
)

In [ ]:
dim_category_db = pd.read_sql(
    "SELECT category_id, category_name FROM dim_category",
    engine
)

dim_date_db = pd.read_sql(
    "SELECT date_id, full_date FROM dim_date",
    engine
)

dim_source_db = pd.read_sql(
    "SELECT source_id FROM dim_source WHERE source_name = 'BBC'",
    engine
)

In [ ]:
fact = df.merge(
    dim_category_db,
    left_on="category",
    right_on="category_name",
    how="left"
)

fact = fact.merge(
    dim_date_db,
    left_on="date",
    right_on="full_date",
    how="left"
)

fact["source_id"] = source_id

In [ ]:
fact_table = fact[[
    "date_id",
    "category_id",
    "source_id",
    "value"   # ganti sesuai kolom metrik lo
]]

In [ ]:
fact_table.to_sql(
    "fact_news",      # ganti sesuai nama fact lo
    engine,
    if_exists="append",
    index=False
)